
#p1{
    color:blue;
}
#p2{
    color:goldenrod;
}
#p3{
    color:pink;
}
/*class selectoe*/
.p4{
    color:red;
}
/*element selector*/
h1{
    color:blueviolet;
}
/*universal selector*/
*{
color:aqua;
}
